.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  text-align: center;
}

.footer__content {
  margin: 0;
  padding: 60px 0;
  width: 104px;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
}

@media screen and (max-width: 586px) {
}
