.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 107.34px;
  height: 16px;
  color: rgba(33, 33, 33, 0.7);
  border: none;
  background-color: #fcf5e5;
}

.profile__edit-button:hover {
  cursor: pointer;
}

.profile__pen-icon {
  opacity: 70%;
}

.profile__add-button {
  margin-left: auto;
  padding: 0;
  align-self: end;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  border: none;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  cursor: pointer;
}
