.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 10px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
}

.profile__description {
  margin: 0;
  opacity: 70%;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 107.34px;
  height: 16px;
  color: rgba(33, 33, 33, 0.7);
  border: none;
  background-color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-button:hover {
  cursor: pointer;
}

.profile__pen-icon {
  opacity: 70%;
}

.profile__add-button {
  margin-left: auto;
  padding: 0;
  align-self: end;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  border: none;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__add-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 586px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-button {
    margin: auto;
  }

  .profile__add-button {
    margin: auto;
    width: 100%;
  }
}
